#menuHolder {
    width: 100%;
    background-repeat: repeat-x;
    background-repeat: no-repeat-y;
    background-image: url(../Images/Button.png);
    z-index: 500;
    height: 45px;
    margin-bottom: 10px;
}

#menuHolder .menuBar {
    list-style: none;
    margin-left: 7%;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
    height:inherit ;
}

#menuHolder .menuBar .StarterMenuItem, #menuHolder .menuBar .menuItem {
    width: 15%;
    float: left;
    color: #FFF;
    text-align: center;
    font-variant: small-caps;
    font-size: medium;
    text-align: center;
    font-weight: bolder;
    height:inherit ;    
    background-image: url(../Images/Button.png);
}


#menuHolder .menuBar .menuItem {
    border-left: #ffffff thin ridge;
    
}


#menuHolder .menuBar .menuItem a, #menuHolder .menuBar .StarterMenuItem a {
    text-decoration: none;
    color: inherit;
    line-height:45px;
    overflow: visible;
    height:inherit;
    display:block;
}

#menuHolder .menuBar .menuItem a:hover, #menuHolder .menuBar .StarterMenuItem a:hover
{
    
    background-image: url(../Images/Buttonhover.png);
    color: yellow;
    height:inherit;
    
}

#menuTassleLeft
{
    position:absolute;
left:-70px;
    }

#menuTassleRight
{
        position:absolute;
right:-70px;}