body {
    font-family: "Arial Narrow";
    background-color: white;
    font-size: large;
    background-image: url(../Images/bggradient.png);
    background-repeat: repeat-x;
}
a  {outline : none; text-decoration:none;color:inherit;}
a img {outline : none;}

.hyperlink{
    text-shadow:1px 1px 1px #3399FF;
    color:#0026ff;
    
}

#content {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    background-color: #bbd1d8;
    background-repeat: no-repeat;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 30px;
    margin-bottom: 60px;
}

    #content #contentBorder {
        background-color: #ffffff;
        width: 99.8%;
        margin-left: auto;
        margin-right: auto;
    }

/* ------------------------------------------------------------------------
 *			 					FULL BLOCK
 ------------------------------------------------------------------------ */
        #content #contentBorder .fullBlock, .Feedback {
            margin-left: auto;
            margin-right: auto;
            width: 90%;
            padding: 5px 5px 25px 5px;
            background-color: inherit;
            text-align: justify;
            position:relative;
        }

            #content #contentBorder .fullBlock img {
                width: 15%;
            }

            /* --------------------------------------------------------------------- *
 *			 					HALF BLOCKS								 *
 * --------------------------------------------------------------------- */
            #content #contentBorder .fullblock .halfBlockLeft, #content #contentBorder .fullblock .halfBlockRight {
                width: 45%;
                background-color: white;
                text-align: left;
                margin-bottom: 50px;
                margin-top: 5px;
            }

            #content #contentBorder .fullblock .halfBlockLeft {
                margin-left: 4%;
                float: left;
            }

            #content #contentBorder .fullblock .halfBlockRight {
                margin-right: 4%;
                float: right;
            }

                #content #contentBorder .fullblock .halfBlockRight img {
                    width: 100%;
                }
/* ------------------------------------------------------------------------
 *			 					Floating Blocks
 ------------------------------------------------------------------------ */
#fb {
    display: block;
}

.FloatingBlockRight {
    position: fixed;
    right: 0;
    top: 0;
    background-color: White;
    z-index: 1;
}

.name, .location {
    float: left;
    margin-right: 10px;
}

/* ------------------------------------------------------------------------
 *			 					Titles
 ------------------------------------------------------------------------ */
.Header, .name, .location, .date {
    font-size: x-large;
    font-weight: bolder;
    text-shadow: 1px 0 3px #3399FF;    
    margin-top: 0;
    margin-bottom: 10px;
}

.center {
    text-align: center;
    color: #000099;
    margin-left: auto;
    margin-right: auto;
}

/* ------------------------------------------------------------------------
 *			 					Footers
 ------------------------------------------------------------------------ */
#facebook {
    margin-right: auto;
    text-align: left;
    padding: 5px 5px 0px 5px;
    width: 60%;
    background-color: transparent;
}

    #facebook iframe {
        background-color: transparent;
    }

#contact {
    position: absolute;
    float: right;
    text-align: right;
    right: 3px;
    bottom: 3px;
}

    #contact a {
        text-decoration: none;
        color: inherit;
    }

/* ------------------------------------------------------------------------
 *			 					MISC
 ------------------------------------------------------------------------ */
.tab {
    padding-left: 80px;
}

.nopaddingOrMargins {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.blendin {
    font-size: inherit;
    font-weight: inherit;
    display: inline;
}

.smallprint {
    font-size: small;
    text-align: center;
}

