.shopBorder {
    position: relative;
}

.product {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height: 600px;
    position: relative;
}

    .product .title {
        text-align: left;
        width: 100%;
        z-index: 1;
        font-size: 30px;
    }

    .product .details {
        
    }

        .product .details .description {
            width: 50%;
            
        }

            .product .details .description .spec {
                overflow:visible;
                
            }

            .product .details .description .price {
                position: absolute;
                bottom: 0;
                color: red;
                font-size: 75px;
            }

        .product .details .productimg {
            width: 50%;
            position: absolute;
            right: 0;
            top: 0;
            z-index: -1;
        }



    .product .buyNow {
        position: absolute;
        right: 0;
        bottom: 0;
    }

#Cart {
    color: white;
    position: absolute;
    right: 10px;
    top: -50px;
    font-size: 25px;
}

    #Cart:hover, .product .buyNow {
        cursor: pointer;
    }
