/* ------------------------------------------------------------------------
 *			 					Review
 ------------------------------------------------------------------------ */
#SubmitReview ,#MasterContentPlaceHolder_SubmitReview, #ctl00_MasterContentPlaceHolder_SubmitReview{
    position:absolute;
    right:0;
    border: 1px solid black;
    margin-right: 20px;
    padding: 5px;
    background-color: #47B5F0;
    color: white;
    font-size: 30px;
    text-decoration: none;
    text-shadow: 2px 2px 2px #000;
    z-index:2;
    
}


    #SubmitReview:hover {
        cursor: pointer;
        text-shadow: 2px 2px 2px #762550;
    }


#testimonal_Form {
}

.input {
    background-color: #e7f6f5;
    border: 1px solid #5aa7fa;
    margin: 10px;
    resize: none;
}


.label {
    display: inline-block;
    width: 100px;
    vertical-align:top;
}

.multiline {
    width:60%;
}

#contentBorder .testimonials .feedback {
    z-index:-1;
    position:relative;
}