<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>

  <connectionStrings>
    <add name="myConnectionString" connectionString='Server=OFFICEPC\SQLExpress; Trusted_Connection=True' />
  </connectionStrings>

  <system.webServer>
    <defaultDocument enabled="true">
      <!-- this line enables default documents for a directory -->
      <files>
        <clear/>
        <!-- removes the existing default document list -->
        <add value="Home.aspx"/>
        <!-- Home.aspx is now the default document  -->
      </files>
    </defaultDocument>
  </system.webServer>

</configuration>

